* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--primary-fundo);
    color: var(--text-default);
}

.menu {
    background-color: var(--primary);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    margin: 0;
    z-index: 1000;
}

.container {
    margin-left: 300px;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--primary-fundo);
    display: flex;
    gap: 1rem;
}

.conteudo {
    margin-left: 0.1rem;
    min-height: 78vh;
    min-width: 120vh;
    margin-top: 3vh;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: var(--primary);
}

.newTask {
    margin-left: 0.1rem;
    max-width: 120vh;
    min-height: 10vh;
    max-height: 12vh;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: var(--primary);
}

.metricas {
    margin-left: 0.1rem;
    min-width: 44vh;
    max-height: 93vh;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: var(--primary);
}