.tasksContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 40rem;
    min-width: 71.5rem;
    margin: 0;
    align-content: flex-start;
}

.task {
    width: calc(50% - 1rem); /* 2 cards por linha = 50% cada */
    height: 7.5rem;
    background: var(--primary-fundo);
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.3rem;
    transition: 1s;
}

.title {
    margin-right: 60rem;
}

.taskContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.taskTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.btnTask {
    margin-top: -1.9rem;
    margin-left: 24.5rem;
}

.btConcluida, .btEditar, .btDeletar {
    background-color: var(--primary-fundo);
    border: none;
    margin-left: 0.5rem;
}

.btnS, .btnC {
    background-color: var(--primary-fundo);
    border: none;
    color: var(--primary-card);
}

.btnS {
    margin-left: 14rem;
}

.btnC {
    margin-left: 1rem;
}

.prioritiEdt {
    padding: 1px;
}

.inpEdt {
    padding: 0.5rem;
}