.tasksContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 40rem;
    min-width: 71.5rem;
    margin: 0;
    align-content: flex-start;
}

.task {
    width: calc(50% - 1rem); /* 2 cards por linha = 50% cada */
    height: 7.5rem;
    background: var(--primary-fundo);
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.3rem;
    transition: 1s;
}

.title {
    margin-right: 60rem;
}

.taskContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.taskTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.btnTask {
    margin-top: -1.9rem;
    margin-left: 24.5rem;
}

.btConcluida, .btEditar, .btDeletar {
    background-color: var(--primary-fundo);
    border: none;
    margin-left: 0.5rem;
}
.edicaoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.inputEdicao {
    padding: 0.3rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    margin: -1rem;
    width: 32.5rem !important;
    min-width: 32.5rem !important;
    max-width: 32.5rem !important;
}

.selectEdicao {
    padding: 0.3rem;
    margin: 0.5rem;
    margin-left: -1rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    width: 10rem;
    flex: 1;
}

.btnSalvarEdicao {
    background-color: var(--primary);
    color: var(--primary-fundo);
    padding: 0.3rem;
    border-radius: 0.5rem;
    width: 8rem;
    margin-top: -3.5rem;
    margin-left: 15rem;
}

.btnCancelarEdicao {
    background-color: var(--primary-color);
    color: #333;
    padding: 0.3rem;
    border-radius: 0.5rem;
    width: 8rem;
    margin-top: -3rem;
    margin-left: 23.5rem;
}
