.btn {
    background-color: var(--primary);
    padding: 0.8rem;
    align-content: center;
    color: var(--primary-fundo);
    border-radius: 1rem;
    border-color: transparent;
    transition: 0.5s;
    margin-right: 40rem;
    margin-bottom: 1rem;
}

.btnSalvar {
    background-color: var(--primary);
    padding: 0.8rem;
    align-content: center;
    color: var(--primary-fundo);
    border-radius: 1rem;
    border-color: transparent;
    transition: 0.5s;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: var(--primary-transition);
    color: var(--primary);
}

input {
    background-color: var(--primary-fundo);
    padding: 0.8rem;
    color: var(--primary);
    border-radius: 1rem;
    transition: 0.5s;
    border: 1px solid transparent;
    margin-right: 1rem;
    min-width: 84vh;
}

input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

select, option {
    outline: none;
    background-color: var(--primary-fundo);
    padding: 0.8rem;
    align-content: center;
    color: dimgray;
    border-radius: 1rem;
    border-color: transparent;
    transition: 0.5s;
    margin-right: 1rem;
}

select:focus {
    border: 1px solid var(--primary);
}
